<div class="timer-shadow-container"
     [ngStyle]="{
        height: size + 'px',
        width: size + 'px',
        'border-radius': size + 'px'
     }"
>
  <svg
    class="circle"
    [attr.height]="size"
    [attr.width]="size"
    [attr.viewBox]="'0 0 ' + size + ' ' + size"
  >
    <circle
      [ngClass]="{resetting: !isCounting}"
      [attr.r]="(size / 2) - 2"
      [attr.cx]="size / 2"
      [attr.cy]="size / 2"
      [ngStyle]="{
      'stroke-dasharray': circleBaseLength + circleFillLength,
      'stroke-dashoffset': circleBaseLength,
      'transform-origin': (size / 2) + 'px'
    }"
    />
  </svg>

  <div class="timer-inner-container"
       [ngStyle]="{
          height: size - (size * 0.1) + 'px',
          width: size - (size * 0.1) + 'px',
          'border-radius': size + 'px'
     }"
  >
    <div class="timer-mode">{{ timerMode | titlecase }}</div>
    <div class="timer-numbers">
      <div class="timer-minutes">{{ currentValueMinutes | number:'2.0' }}</div>
      <div class="timer-separator">:</div>
      <div class="timer-seconds">{{ currentValueSeconds | number:'2.0' }}</div>
    </div>
    <div class="timer-actions">
      <button *ngIf="!isCounting; else pauseButton" class="btn btn--primary" (click)="startTimer()">
        {{ currentValueMinutes === intervalDuration && currentValueSeconds === 0 ? 'Start' : 'Continue' }}
      </button>
      <button *ngIf="isCounting"
              class="btn btn--danger" (click)="resetTimer()">Reset
      </button>
      <ng-template #pauseButton>
        <button class="btn btn--secondary" (click)="pauseTimer()">Pause</button>
      </ng-template>
    </div>
  </div>
</div>
